html {
  background-color: rgb(255, 255, 238);
  font-size: 18px;
}

body {
  margin: auto;
  width: 50%;
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
}

ul {
  background: rgb(228, 228, 228);
  padding: 10px;
  border: 1px solid black;
  width: max-content;
  height: max-content;
}

li {
  margin-left: 20px;
}

button {
  padding: 5px;
}

img {
  width: 795px;
  height: 360px;
}