html{
    background-color: bisque;
}
main {
    margin: auto;
    width: 50%;
    border: 2px solid #000000;
    padding: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    margin: 5px;
    font-size: large;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px double #333;
}